.marshmallow {
	background-color: #fff;
	background-size: 40px 40px;
	background-image: repeating-linear-gradient(-45deg, #fff 0%, #fff 1%, transparent 0%, transparent 24%, #fff 24%, #fff 25%),
 					  repeating-linear-gradient(45deg, #fff 0%, #fff 1%, transparent 0%, transparent 24%, #fff 24%, #fff 25%),
 					  repeating-linear-gradient(-45deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%),
 					  repeating-linear-gradient(45deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%);
}