.trees {
	background-color: #4B8F3F;
	background-size: 40px 40px;
	background-image: linear-gradient(110deg, #4B8F3F, #4B8F3F 40%, transparent 40%, transparent),
 					 linear-gradient(70deg, transparent, transparent 60%,  #4B8F3F 60%, #4B8F3F),
 					 linear-gradient(transparent, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent),
					 linear-gradient(90deg, #4B8F3F, #4B8F3F 46%, transparent 46%, transparent 54%, #4B8F3F 54%, #4B8F3F),
 					 linear-gradient(transparent, transparent 80%, #470805 80%, #470805);
}